<h1>Canvas Public ePortfolios</h1>

<% for @entry in data %>
    <a href="https://carmel.instructure.com/eportfolios/<%= @entry['ID'] %>"><%= @entry['Title'] %> by <%= @entry['Author'] %></a><br>
<% end %>
